src/assets/KindleUnpack/* linguist-vendored=true
src/web/jszip.min.js linguist-vendored=true
src/web/epub.js linguist-vendored=true
src/web/libarchivejs/* linguist-vendored=true
src/web/crypto-js/* linguist-vendored=true
src/epubcfi.js linguist-vendored=true
