src/assets/KindleUnpack/* linguist-vendored=true
src/assets/jszip.min.js linguist-vendored=true
src/assets/epub.js linguist-vendored=true
src/assets/libarchivejs/* linguist-vendored=true
src/assets/crypto-js/* linguist-vendored=true
src/epubcfi.js linguist-vendored=true
