@namespace epub "http://www.idpf.org/2007/ops";

* {
  margin: 0;
  padding: 0;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 99.5vh;
}

.image-wrapper img {
  width: 100vw;
  max-height: 99.5vh;
  object-fit: contain;
}
