Source: com.github.johnfactotum.foliate
Section: gnome
Priority: optional
Maintainer: John Factotum <50942278+johnfactotum@users.noreply.github.com>
Build-Depends: debhelper-compat(=10),
	gettext,
	meson (>= 0.40),
	pkg-config,
	libglib2.0-dev (>= 2.54),
	gjs,
	appstream
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://johnfactotum.github.io/foliate/
Vcs-Browser: https://github.com/johnfactotum/foliate
Vcs-Git: https://github.com/johnfactotum/foliate.git

Package: com.github.johnfactotum.foliate
Architecture: all
Depends: ${misc:Depends},
	${python:Depends},
	gjs (>= 1.52),
	gir1.2-webkit2-4.0
Recommends: gir1.2-gspell-1,
	gir1.2-handy-0.0,
	iso-codes (>= 3.67)
Suggests: gir1.2-tracker-3.0,
	espeak,
	festival,
	sdcv,
	dictd,
	dictd-dictionary,
	hyphen-af, hyphen-as, hyphen-bg, hyphen-bn, hyphen-ca, hyphen-cs, hyphen-da, hyphen-de, hyphen-el, hyphen-en-ca, hyphen-en-gb, hyphen-en-us, hyphen-es, hyphen-fi, hyphen-fr, hyphen-ga, hyphen-gl, hyphen-gu, hyphen-hi, hyphen-hr, hyphen-hu, hyphen-id, hyphen-is, hyphen-it, hyphen-kn, hyphen-lt, hyphen-lv, hyphen-ml, hyphen-mr, hyphen-nl, hyphen-no, hyphen-or, hyphen-pa, hyphen-pl, hyphen-pt-br, hyphen-pt-pt, hyphen-ro, hyphen-ru, hyphen-show, hyphen-sk, hyphen-sl, hyphen-sr, hyphen-sv, hyphen-ta, hyphen-te, hyphen-uk, hyphen-zu
Description: Simple and modern eBook viewer
 A simple and modern GTK eBook viewer, built with GJS and Epub.js.
 Supported formats:
   EPUB (.epub, .epub3)
   Kindle (.azw, .azw3) and Mobipocket (.mobi)
   FictionBook (.fb2, .fb2.zip)
   Comic book archive (.cbr, .cbz, .cbt, .cb7)
   Plain text (.txt)
 Single-column, two-column, or continuous scrolling layouts
 Adjust font, line-spacing, and margins
 Customize colors and brightness
 Reading progress slider with chapter marks
 Bookmarks and annotations
 Find in book
 Open footnotes in popovers
 Touchpad gestures—use two-finger swipe to turn the page
 Quick dictionary lookup with Wiktionary, Wikipedia, dictd,
 and sdcv, or translate text with Google Translate
 Basic text-to-speech support with eSpeak NG and Festival

